*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  font-family: 'Open sans', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body{
  background-image: url("../images/body-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
header{
  background-image: url("../images/body-bg.png");

}
header {
  .logo {
    padding: 10px 10px;
    text-align: center;
    span {
      color: #cd2027;
      font-size: 25px;
      font-weight: 400;
      vertical-align: super;
    }
  }
  .call {
    text-align: center;
    padding-bottom: 10px;
    span {
      color: #cd2027;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.wrapper-hero{
background-image: url("../images/body-bg.png");
  .container{
    background-color: #fcfcfc;
  }
}
.banner-info{
  text-align: center;
  h2{
    color: #3c3c3c;
    font-size: 32px;
    font-weight: 400;
  }
  p{
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }
}
.buttons {
  margin: 10px 0 30px;
  .purchase {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.29);
    color: #ca4500;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.08px;
    border: 3px solid #dcdcdc;
    background: #ff7c00;
  }
  .purchase:hover {
    background-color: aqua;
    transition: .5s ease-in-out;
  }
  .tour {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.54);
    color: #d04c01;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.08px;
    background-color: #f2f2f2;
  }
  .tour:hover {
    background: aqua;
    transition: .5s ease-in-out;

  }
}
.buttons{
  a{
    border-radius: 30px;
    border: 3px solid #dcdcdc;
    padding: 10px;
  }
}
.slider{
  margin-top: 20px;
  padding-bottom: 30px;
  position: relative;
  img{
    width: 100%;
  }
}
.slick-arrow{
  width: 0;
  text-indent: -99999px;
  background-color: inherit;
  border: none;
  position: absolute;
  left:-999px;
}
.services{
  background-image: url("../images/body-bg.png");
  .container{
    background: #ffffff;
    .services-item{
      text-align: left;
      padding: 15px 0;
      img{
        float: left;
        margin: 10px 15px 10px 10px;

      }
      h3{
        color: #3c3c3c;
        font-size: 16px;
        font-weight: 400;
      }
      p{
        color: #8c8c8c;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
}
.features{
  background-image: url("../images/body-bg.png");
  .container{
    background-color: #ffffff;
  }
}
.check-out{
  text-align: center;
  padding-top: 30px;
  h3{
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
  }
  p{
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 20px;
  }
}
.features-categories{
  text-align: left;
  padding-bottom: 20px;
  i{
    color: #8a8a8a;
  }
  ul{
    li{
      a{
        color: #dd8c5c;
        font-size: 12px;
        font-weight: 400;
        line-height: 34px;
      }
    }
    li:after{
      content: '';
      background-color: #000000;
      opacity: 0.07;
      width: 100%;
      height: 1px;
      display: block;
    }
  }
}
.screenshots{
  background-image: url("../images/body-bg.png");
  .container{
    background-color: #ffffff;
  }
}
.screen{
  text-align: center;
}


@media screen and (min-width: 768px){
  .logo{
    display: inline-block;
  }
  .call{
    float: right;
    padding: 3%;
  }
  .banner-info{
    width: 48%;
    display: inline-block;
    padding: 0 25px 0 15px;
  }
  .slider-container{
    width: 48%;
    display: inline-block;
    vertical-align: text-bottom;
    padding-bottom: 20px;
    img{
      width: inherit;
    }
  }
}
@media screen and(min-width: 1010px) {
 .container{
   padding: 0;
   width: 990px;
 }
  .call{
    float: right;
    padding: 2%;
  }
}
